#advert_row_details {
    padding: 10px;
    border-radius: 0px;
    border: 1px solid #CCCCCC;
}

#advert_row_location {

}

#advert_row_pcost {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

#advert_row_ccost {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

a.advertLink:link {
    /* Applies to unvisited links of class mainNav */
    text-decoration: none;
    background-color: white;
    color: black;
}

a.advertLink:visited {
    /* Applies to visited links of class mainNav */
    text-decoration: none;
    background-color: white;
    color: black;
}

a.advertLink:active {
    /* Applies to activated links of class mainNav */
    background-color: white;
    color: black;
}

a.advertLink:hover {
    /* Applies to links under the pointer of class mainNav */
    background-color: white;
    color: black;
}