html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 80%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

.footer,
.push {
    height: 50px;
}

.center-footer {
    text-align: center;
}

/**
Menu bar styling
 */
ul.main-menu-bar li {
    width: 20%;
    text-align: center
}

ul.seller-menu-bar li {
    width: 50%;
    text-align: center
}