#header_row {
    background-color: rgb(0, 156, 187);
    border-radius: 0px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: 100px;
    left: 0;
    opacity: 1;
    position: relative;
    rotation: 0;
    top: 0;
    width: 100%;
}

#menubar_row {
    position: relative;
}

#main_row {
    position: relative;
}

#footer_row {
    position: relative;
}

/**
Menu bar styling
 */
ul li {
    width: 20%;
    text-align: center
}